body{
    background-image: url(/proyecto_vida/images/fondo.jpg);
    
}
header_0, article_0{
    font-weight: 100;
}
.container {
    width: 760px;
    /* margin: 5px auto; */
}
.article_0{
    color: aliceblue; 
}
header h1{
    background-color: none;
    color: white;
    padding: 15px 0;
    font-weight: 100;
    background-color: gray;

}
header nav li{
    list-style: none;
    display: inline-block;
    border-left: oldlace;
    border-right: oldlace;
    color: white;
    font-size: 15px;
    padding: 5px;
}
header nav li a{
    color: white;
    text-decoration: none;
}

